<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="WCFServiceHostNetPipeEndPoint" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/DocumentListenerSvc"
                binding="netNamedPipeBinding" bindingConfiguration="WCFServiceHostNetPipeEndPoint"
                contract="DocumentListenerService.IDocumentListener" name="WCFServiceHostNetPipeEndPoint">
                <identity>
                    <userPrincipalName value="DESKTOP-1406MK7\Chris" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>